#menu {
    /* background-color:lightblue; */
    /* border-bottom: 1px solid darkslategrey; */
}

hr {
    border-top: 1px solid rgba(0, 0, 0, .1);
    /* border: 1px solid red; */
}

#body_add {
    /* border-bottom: 1px solid darkslategrey; */
    /* background-color: lightpink; */
}

.addlabel, .showlabel {
    font-weight: 600;
    font-size: medium;
    padding-bottom: 15px;
}

.menu-separator {
    border-right: 1px solid darkslategrey;
}

.no-margins {
    margin: 0 0 15px 0;
}

.btn-group-xs>.btn, .btn-xs {
    padding: .45rem .6rem;
    font-size: .875rem;
    line-height: .5;
    border-radius: .2rem;
}

.tooltip-inner {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}