<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-datepicker3.standalone.css">
    <link rel="stylesheet" href="/css/custom.css">

    <script type=text/javascript src="/js/popper.js"></script>
    <script type=text/javascript src="/js/moment.js"></script>
    <script type=text/javascript src="/js/jquery-3.5.1.min.js"></script>
    <script type=text/javascript src="/js/bootstrap.min.js"></script>
    <script type=text/javascript src="/js/bootstrap-datepicker.min.js"></script>
    <script type=text/javascript src="/js/jquery.serializejson.min.js"></script>

    <title>Service disabler</title>
</head>
<body>
    <div class="container">
        <div class="d-flex flex-column my-flex-container-column vh-100">
            {% block menu %}
                {% include 'menu.html' %}
            {% endblock %}

            <!-- {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class=flashes>
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %} -->
            <div id="body_add" class="p-1 my-flex-item mb-4">
                <!-- <hr class="no-margins"> -->

                {% block body_add %}
                    {% include 'body_add.html' %}
                {% endblock %}

                <hr class="no-margins">

                {% block body_show %}
                    {% include 'body_show.html' %}
                {% endblock %}

                {% block foot %}
                    {% include 'foot.html' %}
                {% endblock %}
            </div>
        </div>
    </div>
    <script type=text/javascript src="/js/custom.js"></script>

</body>
</html>