<div id="body_show" class="p-2 my-flex-item h-100 flex-grow-1">
    <div class="showlabel">List of services to disable:</div>
    <table class="table table-hover table-sm table-bordered">
        <thead class="thead">
            <tr>
                <th scope="col">Date of disable</th>
                <th scope="col">ID service</th>
                <th scope="col">Router</th>
                <th scope="col">Logical system</th>
                <th scope="col">Inteface</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for d in data %}
            <tr>
                <th scope="row">{{ d.date | ctime }}</th>
                <td>{{ d.service_id }}</td>
                <td>{{ d.router }}</td>
                <td>{{ d.logicalsystem }}</td>
                <td>{{ d.iface }}</td>
                <td><button type="button" id="{{ d.id }}" onclick="delservice(this.id);"
                        class="btn btn-danger btn-xs">Delete</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>