<div class="addlabel">
    <label>Add service to disable:</label>
    <form id="addrecordform" class="form-inline">
        <div class="form-group row col-md-12">
            <div class="col-xs-2 col-md-3">
                <label for="serviceID">Service name:</label>
                <input name="serviceID" class="form-control w-100 ml-2" type="text" required>
            </div>
            <div class="col-xs-1 col-md-2">
                <label for="rtr_name">Router:</label>
                <input name="rtr_name" class="form-control w-100 ml-1" type="text" required
                    placeholder="e.g. r5">
            </div>

            <div class="col-xs-2 col-md-2">
                <label for="rtr_ls">Logical system:</label>
                <input name="rtr_ls" class="form-control w-100 ml-1" type="text"
                    placeholder="e.g. isp or empty">
            </div>

            <div class="col-xs-2 col-md-2">
                <label for="rtr_iface">Interface:</label>
                <input name="rtr_iface" class="form-control w-100 ml-1" type="text"
                    pattern="^(xe|ge|et|ae)(\d+|-\d+\/\d+\/\d+)\.\d+$" autocomplete="no"
                    title="Insert interface with subinterface"
                    placeholder="e.g. ae4.123" id="rtr_iface" required>
            </div>
            <div class="col-xs-2 col-md-2">
                <label for="disable_date">Date of disable:</label>
                <div class='input-group date' id='datetimepicker1'>
                    <input id="disable_date" title="Service will be deactivated at selected date at 00:01"
                        name="disable_date" type='text' class="form-control ml-1" required />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar">
                            <i class="glyphicon glyphicon-th"></i>
                        </span>
                    </span>
                </div>
            </div>
            <div class="col-xs-1 mt-4 col-md-1">
                <button type="submit" class="btn btn-primary w-100">Add</button>
            </div>
        </div>
    </form>
</div>