<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-datepicker3.standalone.css">
    <link rel="stylesheet" href="/css/custom.css">

    <script type=text/javascript src="/js/popper.min.js"></script>
    <script type=text/javascript src="/js/moment.js"></script>
    <script type=text/javascript src="/js/jquery-3.5.1.min.js"></script>
    <script type=text/javascript src="/js/bootstrap.min.js"></script>
    <script type=text/javascript src="/js/bootstrap-datepicker.min.js"></script>
    <script type=text/javascript src="/js/jquery.serializejson.min.js"></script>

    <title>Service disabler</title>
</head>

<body>
    {% block body %}
    <div class="container">
        <div class="d-flex flex-column my-flex-container-column vh-100">
            {% block menu %}
            {% endblock %}

            <hr class="no-margins"/>

            {% block main %}
                {% block content %}{% endblock %}
            {% endblock %}

            <!-- <hr class="no-margins"/> -->
            <!-- <div id="footer-div" class="clearfix with-margins">
                <div class="pull-left">{{ user_manager.USER_APP_NAME }} {{ user_manager.USER_APP_VERSION }}</div>
                <div class="pull-right">&copy; {{ user_manager.USER_COPYRIGHT_YEAR }} {{ user_manager.USER_CORPORATION_NAME }}</div>
            </div> -->
        </div>
    </div>
    {% endblock %}

    {# *** Allow sub-templates to insert extra html to the bottom of the body *** #}
    {% block extra_js %}
        <script type=text/javascript src="/js/custom.js"></script>
    {% endblock %}

  </body>
</html>
