<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-datepicker3.standalone.css">
    <link rel="stylesheet" href="/css/custom.css">

    <script type=text/javascript src="/js/popper.js"></script>
    <script type=text/javascript src="/js/moment.js"></script>
    <script type=text/javascript src="/js/jquery-3.5.1.min.js"></script>
    <script type=text/javascript src="/js/bootstrap.min.js"></script>
    <script type=text/javascript src="/js/bootstrap-datepicker.min.js"></script>
    <script type=text/javascript src="/js/jquery.serializejson.min.js"></script>

    <title>Document</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div id="menu" class="d-flex ml-auto p-1">
                {% if call_or_get(current_user.is_authenticated) %}
                    <a href="{{ url_for('user.logout') }}"">Sign out</a>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div id="body" class="form-group d-flex p-2">
                <form id="addrecordform" class="form-inline">
                    <div class="col-xs-2">
                        <label for="serviceID">Nazwa usługi:</label>
                        <input name="serviceID" class="form-control ml-2" type="text" value="abc.1">
                    </div>
                    <div class="col-xs-2">
                        <label for="rtr_name">Router:</label>
                        <input name="rtr_name" class="form-control ml-2" type="text" placeholder="np. r5" value="r4">
                    </div>

                    <div class="col-xs-3">
                        <label for="rtr_ls">Logiczny system:</label>
                        <input name="rtr_ls" class="form-control ml-2" type="text" placeholder="np. isp lub puste w przypadku braku" value="isp">
                    </div>

                    <div class="col-xs-3">
                        <label for="rtr_iface">Interfejs:</label>
                        <input name="rtr_iface" class="form-control ml-2" type="text" placeholder="np. ae4.123" value="ae4.123">
                    </div>
                    <div class="col-xs-3">
                        <label for="disable_date">Data wyłączenia:</label>
                        <div class='input-group date' id='datetimepicker1'>
                            <input name="disable_date" type='text' class="form-control ml-2" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar">
                                    <i class="glyphicon glyphicon-th"></i>
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-3 mt-4">
                        <button type="submit" class="btn btn-primary ml-3">Dodaj</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Data wyłączenia</th>
                        <th scope="col">ID usługi</th>
                        <th scope="col">Router</th>
                        <th scope="col">Logiczny system</th>
                        <th scope="col">Intefejse</th>
                    </tr>
                </thead>
                <tbody>
                    {% for d in data %}

                    <tr>
                        <th scope="row">{{ d.date | ctime }}</th>
                        <td>{{ d.service_id }}</td>
                        <td>{{ d.router }}</td>
                        <td>{{ d.logicalsystem }}</td>
                        <td>{{ d.iface }}</td>
                    </tr>

                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="row">
            <div id="foot" class="col-xl">

            </div>
        </div>
    </div>
    <script type=text/javascript src="/js/custom.js"></script>

</body>
</html>