{% extends 'flask_user/_authorized_base.html' %}

{% block main %}

<div class="showlabel">Logs:</div>
<div id="logs_show" class="p-2 my-flex-item h-100 flex-grow-1">
    <table class="table table-hover table-sm table-bordered">
        <thead class="thead">
            <tr>
                <th style="width: 15%" scope="col">Date</th>
                <th style="width: 12%" scope="col">Username</th>
                <th style="width: 73%" scope="col">Message</th>
            </tr>
        </thead>
        <tbody>
            {% for d in data %}
            <tr>
                <td scope="row">{{ d.date | dtime }}</td>
                <td>{{ d.user }}</td>
                <td>{{ d.message }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}