<div id="menu" class="d-flex p-1 mt-2">
    <div class="mr-auto">
        <a href="{{ url_for('index') }}">List of services to disable</a>
        &nbsp;|&nbsp;<a href="{{ url_for('logs') }}">Logs</a>
        {% if current_user.has_roles('Admin') %}
            &nbsp;|&nbsp;<a href="{{ url_for('members') }}">Users</a>
        {% endif %}
    </div>

    <div>
        <a href="{{ url_for('user.edit_user_profile') }}">{{ current_user.username }}</a>
        {% if call_or_get(current_user.is_authenticated) %}
        &nbsp;|&nbsp;<a href="{{ url_for('user.logout') }}"">Sign out</a>
        {% endif %}
    </div>
</div>