<div class="addlabel">
    <label>Add new user:</label>
    <form id="add_new_user" class="form-inline">
        <div class="col-xs-2">
            <label for="new_username">Username:</label>
            <input name="new_username" class="form-control ml-2" type="text">
        </div>
        <div class="col-xs-2">
            <label for="new_name">Name:</label>
            <input name="new_name" class="form-control ml-2" type="text">
        </div>

        <div class="col-xs-3">
            <label for="new_surname">Surname:</label>
            <input name="new_surname" class="form-control ml-2" type="text">
        </div>

        <div class="col-xs-3">
            <label for="new_password">Password:</label>
            <input name="new_password" class="form-control ml-2" type="text">
        </div>

        <div class="col-xs-3">
            <label for="rtr_iface">Privileges:</label>
            <select class="form-control ml-2" name="new_role">
                <option>User</option>
                <option>Admin</option>
            </select>
        </div>

        <div class="col-xs-3 mt-4">
            <button type="submit" class="btn btn-primary ml-3">Add</button>
        </div>
    </form>
</div>