<div id="body_show" class="p-2 my-flex-item h-100 flex-grow-1">
    <div class="showlabel">Users list:</div>
    <table class="table table-hover table-sm table-bordered">
        <thead class="thead">
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Name</th>
                <th scope="col">Surname</th>
                <th scope="col">Privileges</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for d in data %}
            <tr>
                <th scope="row">{{ d.username }}</th>
                <th>{{ d.first_name }}</th>
                <th>{{ d.last_name }}</th>
                <td>{{ d.role }}</td>
                <td>
                    <button type="button" id="{{ d.username }}" onclick="deluser(this.id);"
                        class="btn btn-danger btn-xs">Delete</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>